
:root {
  font-family: 'Epilogue', sans-serif;
 
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:lightcoral;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


main{
  max-width: 1300px;
  font-family: 'Epilogue', sans-serif;
}

nav{
  display: flex;
  justify-content: space-around;
  height: 40px;
  border-bottom: 1px solid #ffffff;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.navbar-logo{
  
  height: 100%;
  border-right: 1px solid #ffffff;
  overflow: hidden;
  padding-right: 60px;
 
}

.navbar-logo img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

 ;
  overflow: hidden;
 
}

.navbar-item{
 display: flex;
  justify-content: space-around;
  align-items: center;
 

}
.navbar-item a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.navbar-item span{
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
  padding-right: 10px;
}


.navbar-icons{
  display: flex;
  justify-content: space-between;
  margin:0 10px;
}

.navbar-icons i{
  margin-right: 20px;
  cursor: pointer;
}

/* Hero Section */
.main{
  margin-left: 100px;
  margin-right: 100px;
}
section .hero{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  max-width :1300px;
  margin-right: 50px;
  margin-top: 50px;
}
section img{
  margin-top: 50px;
  margin-right: 50px;
}
/* section .hero{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hero-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.hero-content h1{
  font-size: 56px;
  line-height: 1.2;
  font-weight: 500;
 
}
.hero-content span{
  color: plum;
}

.hero-content p{
  font-size: 16px;

}

.hero-content button{
  padding: 15px;
  margin-top: 20px;
  border:1px solid white;
  outline: none;
  background:transparent;
  font-size: 18px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  

}

.hero-content button:hover{
  background-color: lightcoral;
  border: 2px solid white;
  font-weight: 500;
  color: white;
  border: 1px solid wheat;

}

/* Features Section */
/* lines */
.lines{
  height: 50px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 86px;
  margin-right: 150px;
  display: flex;
  align-items: center;
  justify-content: start;
  
}

.lines p{
  width: 121px;
  height: 100%;
  margin-left: 130px;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lines .five{
  font-size: 20px;
  font-weight: bold;
  color: plum;
  font-style: italic;
}


.features{
  height: 700px;
  margin-left: 130px;
  display: flex;
  margin-bottom: 0px;
 

}

.list{
  height: 50px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-left: 50px;

}


.details{
  display: flex;
}
.three{
 margin-left: 90px;
}
.four{
  margin-left: 137px;
}
.product-head{
  height: 400px;
  border-left: 1px solid white;
  
} 

.process{
  margin-left: 120px;
}
.team{
  margin-left: 112px;
}
 .connect{
  margin-top: 60px;
  font-size: 34px;
  color:gray ;
  font-weight: 100;
 
}
.connect h1{
  font-weight: 100;
}
.details h1{
  font-size: 56px;
  margin-left: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.details p{
  margin-top: 30px;
  padding-right: 40px;
  font-size: 20px;
  color:whitesmoke;
}


.human{
  color:#ADFF2F;
  font-weight: 500;
}
.second{
  color: plum;
}

.about{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
  
}

.about-img{
  width: 30%;
  border: 1px solid white;
  height: 100%;
  margin-top: 0px;
  
}

.about-img img{
  margin-top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.about-text h1{
font-size: 40px;
line-height: 1.3;
letter-spacing: 1.4px;
margin-right: 200px;
/* padding-bottom: 60px; */
}
.about-text p{
  margin-right: 50px;
}

.about-text button{
  padding: 15px;
  margin-top: 50px;
  border:1px solid white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background: transparent;

}
.about-text button:hover{
  background-color: lightcoral;
  font-weight: 500;
  color: white;
  border: 1px solid wheat;
}
.about-text i{
  margin-left: 5px;
}

.about-info{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
.about-info h1{
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 1.4px;
  font-weight: 400;
}


.about-info span{
  font-weight: bold;
}
.vision{
  color: #ADFF2F;
}

.modern{
  color: plum;
}

.about-things{
  height: 500px;
  margin-right: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.things-text{
  width: 50%;
  padding:50px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  
  
}
.things-text h1{
  font-size: 45px;
  line-height: 1.3;
  font-weight: 500;
}
.things-text p {
  margin-left: 90px;
}

.things-text span{
  color: plum;
  font-weight: 700;
}

.things-text button{
  margin-top: 70px;
  margin-bottom: 30px;
  margin-right: 130px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  font-family: 500;
  width: 150px;
 background: transparent;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.things-text button:hover{
  border: 2px solid white;
}
.things-text button:focus{
  background: transparent;
}
.things-text i{
  padding-left: 5px;
}
.things-img{
  width:50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.things-img img{
  width: 80%;
  height: 80%;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
}
.featuress{
  margin-left: 130px;
  margin-right: 10px;
  margin-bottom: 0px;

  
  
}
.coperate{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-right: 130px;
  margin-bottom: 0px;
}

.coperate h1{
  font-size: 56px;
  font-weight: 100;
  color:white;
}
.coperate i{
margin-right: 130px;
display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
}

.create{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 130px;
  height: 100px;
  border-bottom: 1px solid white;
}

.create i{
  margin-right:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
}

.create h1{
  font-size: 56px;
  font-weight: 100;
  margin-left: 40px;
 
}

.continue{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 135px;
  height: 100px;
  border-bottom: 1px solid white;
  
}

.continue h1{
  font-size: 56px;
  font-weight: 100;
  color: white;
  margin-left: 40px;
}

.continue i{
  margin-right: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
}

.ideas-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  
}

.ideas-heading h1{
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300;
  
}

 .idea{
  color: plum;
}

.here{
  color: #ADFF2F;
}

.products{
  border-bottom:1px solid wheat ;
  margin-right: 130px;
}

/* Services Section */

.services{
  margin-top: 50px;
  margin-left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-grid{
  margin-right: 130px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 20px;
 
}

.services-grid button{
  display: none;
}
.card{
  padding: 20px;
  display: flex;
  border: 1px solid white;
  justify-content: start;
  border-radius: 5px;
  flex-direction: column;
}
.card h4{
  font-weight: 500;
  line-height: 1.4;
}
.card i{
  font-size: 40px;
  padding: 10px;
}
.card i{
  font-size: 40px;
  padding: 10px;
}
.card p{
  font-size: 12px
}



.team-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;

}


.team-grid{
  margin-right: 130px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  margin-bottom: 0px;
 

}

.team-grid-card{
  margin-top: 0px;
  display: flex;
  border: 1px solid white;
  justify-content: center;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}
.grid-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding: 0px;
 
}
.grid-img-container img{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 98.7%;
  margin: 0px;
  object-fit: cover;
  overflow-y: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.grid-text{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.grid-text h1{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  padding-top: 20px;
  font-weight: 500;
}
.grid-text p{
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
}
.team-grid-item-1{
  border: 1px solid white;
}

.btn-services{
  display: none;
}
/* Footer */

.footer-grid{
  border-top: 1px solid white;
  display: flex;
}
.footer-grid-1{
  
  width: 233px;
  border-right: 1px solid wheat;
  padding-top: 50px;
  

}
.footer-grid-1 a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  margin: auto;
  font-weight: 400;
  padding: 10px;
 

}


.footer-grid-1 img{
  width: 40px;
  height: 40px;
  margin: 0;
  text-align: center;
}

.footer-grid-2{
  display: block;
  margin: 50px;
  text-align: center;
}
.footer-grid-2 h1{
  font-size: 36px;
  font-weight: 400;
}
.footer-grid-2 h5{
  font-weight: 300;
}
/* Media Queries */

@media screen and (max-width:500px) {

  /* Navbar Media Queries */
nav{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.navbar-logo{
  height: 100%;
  padding-left: 10px;
  padding-right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo img{
  height: 95%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 10px;
}

.navbar-item a{
margin-left: 0px;
font-size: 10px;
}

.navbar-icons i{
  font-size: 12px;
}

/* hero section  Media Queries*/

.main{
  margin-top: 100px;
  margin-right: 0px;
  margin-left: 0px;
}

.hero .hero-content{
  display: block;
  margin: auto;
}
.hero-content .text-content{
  display: block;
  text-align: center;
  padding: auto;
  margin: auto;
}
.text-content h1{
  font-size: 26PX;
}
.text-content button{
  font-size: 13px;
}
.hero-content .svg-cont{
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.hero-content .svg-cont img{
  display: block;
  width: 100%;
  height: 100%;
}
/* Features Connections Section */

.lines{
  margin-left: 0px;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 0px;
}

.lines p{
  width: 30px;
  margin-left: 0px;
  border-right: none;
}

.features{
  /* display: flex; */
  display: block;
  margin: 0px;
  padding: 0px;
  height: fit-content;
 

}



.details{
 display: block;
 margin: auto;
 text-align: center;
 margin-bottom: 0px;
}
.details p{
  padding-top: 20px;
  margin-left: 40px;
  font-size: 15px;
}


/* About section */
.about{
  height: 100%;
  width: 100%;
 display: block;
 margin: 0px;
 padding: 0px;
}
.product-head{
 
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.product-head h1{
  
 
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  padding: 0px;
  max-height: 200px;
  font-size: 46px;
}
.about-img {
  width: 100%;
 display: block;
 margin: 0px;
 padding: 0px;
 text-align: center;
 border: none;
 
}
.about-img img{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}
.about-text{
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;

}
.about-text h1{
  margin-top: 30px;
 margin-bottom: 30px;
 margin-left: auto;
 margin-right: auto;
  font-size: 36px;
 text-align: center;
 
}

.about-text p{
  margin: auto;
  text-align: center;
  
  
}
.about-text button{
  font-size: 14px;
  padding: 13px;
}

.about-info{
  height: 400px;

 display: block;
 margin: 0px;
 text-align: center;
}

.about-info h1{
  font-size: 36px;
  font-weight: 500;
}
.about-things{
  height: fit-content;
  display: block;
  margin: 0px;
  padding: 0px;
}
.things-text{
  width: 100%;
  height: 100%;
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.things-text h1{
  text-align: center;
  margin: 0px;
  font-size: 56px;

}
.things-text p{
  margin: 10px 10px 0px 0px;
}
.things-text button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.things-img{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.things-img img{
  height: 100%;
  width: 100%;
}

/* Process And Control Section Responsivness */

.featuress{
  display: block;
  margin: 0px;
  padding: 0px;
  height: auto;
  border: none;
 
}
.details{
 display: block;
 margin: auto;
 text-align: center;
 margin-bottom: 0px;
 border: none;
}
.product-head{
   
  display: block;
  margin: 0px;
  padding: 0px;
height: 200px;
  border: none;
}
.connections{
  height: 300px;
}
.coperate{
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
 
}
.coperate i{
 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.create{

  margin: 0px;
  padding: 0px;
  height: auto;

}
.create i{
  display: block;
  margin-left: -40px;
}

.continue{
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: auto;
 

}
.continue i{
  margin: 0px;
}
.ideas-heading{
  display: block;
  margin: 0px;
  padding: 0px;
  height: auto;
  border: none;
  text-align: center;
}

/* Services Section */
.services{
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  padding: 0px;
  height: auto;
  border: none;
  text-align: center;
}
.services-grid{
 margin-top: 50px;
  display: grid;
 width: 100%;
  padding: 3px;
  height: 300px;
  border: none;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
 
 
 
}

.btn-services{
  color: white;
  border: none;
  background: transparent;
font-weight: 500;
  outline: none;
  padding: 25px;
  font-size: 35px;
 display: flex;
justify-content: center;
align-items: center;
  margin:auto;
}
.btn-services:hover{
  color: white;
  border: none;
  background: transparent;
  
  outline: none;
  padding: 25px;
  font-size: 35px;
 display: flex;
}
.btn-services i{
  margin-left: 10px;
 opacity: 100%;
}
.card{
  display: block;
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: auto;
  text-align: center;
  border: none;
}


.card h4{
  font-size: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}
.card p{
  display: none;
  margin: 0px;
  padding: 0px;
}
.card i{
  font-size: 20px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  ;
}

/* Team Section */
.team-section{
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: none;
  text-align: center;
  width: 100%;
}
.team-grid{
  padding: 0px;
  display: grid;
  width: 100%;
  height: fit-content;
  border: none;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0px;
  
}
.team-grid-card{
  display: block;
  width: 100px;
  padding: 0px;
  text-align: center;
  height: auto;
  border: none;

}

.grid-text h1{
  font-size: 12px;
  text-align: center;
 padding: 0px;
 margin: 0px;

}
.grid-text p{
  font-size: 10px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.team-grid-card p{
  margin: 0px;
  padding: 0px;
}
.grid-img-container img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px;
}
}